<center>
    <h1><b>@ViewBag.Title</b></h1>
    <h5><b>@ViewBag.Message</b></h5>
    <p>Online Shopping has never been easier. AmaderBazar aims to be the best online shopping platform in Bangladesh ensuring the best of the best quality and also focusing on customer satisfaction with super effecient delivery service.As Bangladesh's online shopping scene expands year after year, so does online shopping in Dhaka, Chittagong, Khulna, Sylhet, and other major cities. AmaderBazar wants to be the trusted online shop in Bangladesh also aiming to provide a trouble-free shopping experience for the people of Bangladesh but also planning to provide ample opportunity for international online shopping from Bangladesh. We aim to make this service accessible to all parts of the country.</p>
</center>
<hr />
<div class="row">
    <div class="col-md-4">
        <h2>Product Availability</h2>
        <p>
            We provide almost everything you would want to have in your day to day life. 
            Feeling hungry, order your groceries here. Feeling the need to change your style?
            We got you covered. Need to get a new sound system? AmaderBazar is your go-to-go place.
            We Try to provide everything you need at a reasonable price.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Product Authenticity</h2>
        <p>
            Every product you see in this website will be delivered to you with 100% accuracy.
            You will not receive a product that is not accurate to what you have ordered. If
            you do you can contact immediately with our admins and given the proof we will refund
            you istantly.
        </p>
        <p class="btn btn-default">@Html.ActionLink("Contact", "Contact", "Home") &raquo;</p>
    </div>
    <div class="col-md-4">
        <h2>Effecient Delivery Service</h2>
        <p>
            Order right now and the product will be at your doorstep in no time.
            We ensure you to provide the fastest delivery service you have 
            experienced till now. You will not be disappointed.
        </p>
    </div>
</div>