<h2>@ViewBag.Title</h2>
<hr />
<h4><b>Shamit Nibras</b></h4>
<address>
    Bashundhara Residential Area<br />
    Block B, Road 1/B, House 276<br />
    <abbr title="Phone">P:</abbr>
    +88017113189734
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ariyanjahangireng@gmail.com">ariyanjahangireng@gmail.com</a><br />
</address>
<hr />
<h4><b>Mr.X</b></h4>
<address>
    Bashundhara Residential Area<br />
    Block B, Road 1/B, House 276<br />
    <abbr title="Phone">P:</abbr>
    +8801777030706
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mehedi1234.mh@gmail.com">mehedi1234.mh@gmail.com</a><br />
</address>